
<div id="delete_box" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="/assets/img/sent.png" alt="" width="50" height="46">
                <h3>Are you sure want to delete this Call Center?</h3>
                <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebar-overlay" data-reff=""></div>


<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>
<script src="/assets/js/Chart.bundle.js"></script>
<script src="/assets/js/select2.min.js"></script>

<script src="/assets/plugins/datatable/plugin/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatable/plugin/js/buttons.flash.min.js"></script>
<script src="/assets/plugins/datatable/plugin/js/jszip.min.js"></script>
<script src="/assets/plugins/datatable/plugin/js/pdfmake.min.js"></script>
<script src="/assets/plugins/datatable/plugin/js/vfs_fonts.js"></script>
<script src="/assets/plugins/datatable/plugin/js/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatable/plugin/js/buttons.print.min.js"></script>

<script src="/assets/plugins/cropperjs/cropper.js"></script>

<script src="/assets/js/app.js"></script>
<script src="/assets/js/my_app.js"></script>

<script>
    setTimeout(function () {
        hideNotifications();
    }, 2500);
    var hideNotifications = function () {
        $('.alert').each(function () {
            if($(this).attr('class').indexOf('alert-dismissible')<0) {
                $(this).slideUp(600, function () {
                    $(this).remove();
                })
            }
        })
    }
    $('.ws-delete-link').click(function () {
        $('#delete_box h3').text('Are you sure want to delete this ' + $(this).data('msg') + '?');
        $('#delete_box a.btn-danger').attr('href', $(this).data('url'));
    })

</script>
