
<div id="delete_box" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="/assets/img/sent.png" alt="" width="50" height="46">
                <h3>Are you sure want to delete this Call Center?</h3>
                <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebar-overlay" data-reff=""></div>


<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>
<script src="/assets/js/Chart.bundle.js"></script>
<script src="/assets/js/select2.min.js"></script>

<script src="/assets/plugins/datatable/plugin/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatable/plugin/js/buttons.flash.min.js"></script>
<script src="/assets/plugins/datatable/plugin/js/jszip.min.js"></script>
<script src="/assets/plugins/datatable/plugin/js/pdfmake.min.js"></script>
<script src="/assets/plugins/datatable/plugin/js/vfs_fonts.js"></script>
<script src="/assets/plugins/datatable/plugin/js/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatable/plugin/js/buttons.print.min.js"></script>

<script src="/assets/plugins/sweetalert/sweetalert.js"></script>
<script src="/assets/plugins/cropperjs/cropper.js"></script>
<script src="/assets/plugins/search-box/choosen.js"></script>

<script src="/assets/js/app.js"></script>
<script src="/assets/js/my_app.js"></script>

<script>
    var siteDomain = '<%= siteDomain %>';
    var wsPort = '<%= wsPort %>';
    var userRole = '<%= (session && session.user && session.user.role)?session.user.role:'' %>';
</script>

<script src="/assets/js/notification_ws.js"></script>
<script src="/assets/js/delivery_ws.js"></script>


<script>
    var formatTime = function (ts) {
        var offset = new Date().getTimezoneOffset();
        var date = new Date(ts);
        // Years part from the timestamp

        date = new Date(date.getTime() - offset * 60 * 1000);

        var year = date.getFullYear();
        // Month part from the timestamp
        var month = date.getMonth() + 1;
        if (month < 10) {
            month = '0' + month;
        }
        // Day part from the timestamp
        var day = date.getDate();
        if (day < 10) {
            day = '0' + day;
        }
        return year + "-" + month + "-" + day;
    }
</script>
