<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="icon" href="/assets/img/favicon.png" type="image/png" />
    <title>Wasfaty | <%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min_<%= getLocale() %>.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/datatable/plugin/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/style_<%= getLocale() %>.css">

    <link href="/assets/plugins/cropperjs/cropper.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="/assets/css/backend_style.css">

    <!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.min.js"></script>
		<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
