<!-- Main Search -->
<div id="search">
    <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
    <form>
        <input type="search" value="" placeholder="<%= i18n.__("Search") %>..." />
        <button type="submit" class="btn btn-primary"><%= i18n.__("Search") %></button>
    </form>
</div>
