<head>
    <meta charset="UTF-8">
    <title>Wasfaty | <%= title %></title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min_en.css">

    <link rel="stylesheet" href="/assets/plugins/carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/plugins/carousel/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/assets/css/frontend_style.css">

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" href="/assets/plugins/slick/css/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" href="/assets/plugins/slick/css/slick-theme.css"/>

    <link rel="icon" href="/assets/img/favicon.png" type="image/png" />

</head>


