<section class="ws-content text-center" id="ws-about-us">
    <img src="/assets/img/arc.png" class="about-arc-img">
</section>

<section class="ws-footer text-center">
    <img src="/assets/img/wasfaty_logo_color.png" alt="wasfaty-logo-color" class="ws-logo-color-img">
    <div class="app-icons-wrap">
        <a href="#">
            <img src="/assets/img/google_play.png">
        </a>
        <a href="#">
            <img src="/assets/img/apple.png">
        </a>
    </div>
    <div class="ws-social-icons">
        <a href="#"><img src="/assets/img/google_plus.png"></a>
        <a href="#"><img src="/assets/img/facebook.png"></a>
        <a href="#"><img src="/assets/img/twitter.png"></a>
        <a href="#"><img src="/assets/img/instagram.png"></a>
        <a href="#"><img src="/assets/img/pint.png"></a>
        <a href="#"><img src="/assets/img/link.png"></a>
        <a href="#"><img src="/assets/img/youtube.png"></a>
    </div>
</section>
