<!DOCTYPE html>
<html lang="en">
<%- include ../layouts/header.ejs %>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="/assets/plugins/slick/css/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="/assets/plugins/slick/css/slick-theme.css"/>
<%
 var lang = getLocale();
 %>

<body>

<div class="container" id="termsAndCondition">
    <div class="text-center">
        <a href="/"><img src="/assets/img/wasfaty_logo_color.png" alt="wasfaty-logo-color" class="ws-logo-color-img"></a>
        <h2><%= i18n.__('Terms & Conditions') %> </h2>
    </div>
    <div class="terms-condition-body">
    </div>
</div>
    <%- include ../layouts/social-links.ejs %>
<%- include ../layouts/footer.ejs %>


</body>
</html>
